---
layout: default
title: Homepage
image-banner:
  bg-image: https://images.unsplash.com/photo-1670510521081-fe2e687c3153?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80
  text: Are you ready to take your business to the next level?
  link-text: My services
  link-url: 
  overlay: true 

---

<!------------- Intro ------------->

<section class="grid grid-cols-2 bg-slate-200 min-h-[85vh]">
  <div class="p-20">
    <h1 class="text-[4rem] pb-5">
      Creating meaningful brand design while exploring the world.
    </h1>
    <div class="relative">
      <a href="#" class="button">Explore more</a>
      <img src="https://images.unsplash.com/photo-1670531910262-5ddb5ad666ea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1349&q=80" 
          class="h-48 absolute top-16 left-28 rotate-[16deg]">
    </div>
  </div>
  <div class="p-32 flex items-center">
    <p>
      Branding is my favorite part of design. A thoughtful and consistent brand elevates the customer's experience, connects you with your target audience and helps you reach your business goals.
      After 6 years working in design agencies I realized, that you don’t necessarily need an office to construct unique and strategic brands. Luckily I can take my creativity and experience wherever I go – which leads us to Atlas of Elsewhere, a space where I combine my two passions: Design & Travel.
      </p>
  </div>

</section>

<!------------- Image banner ------------->

<section class=""> 
  <div class="{% if page.image-banner.overlay == true %} bg-blend-multiply bg-neutral-400 text-white {% endif %} bg-fixed bg-cover h-[50vh] bg-center flex flex-col justify-center items-center"
  style="background-image: url('{{page.image-banner.bg-image}}')">
    <div class="text-lg pb-6">{{page.image-banner.text}}</div>
    <a href="#" class="button-white">My services</a>
  </div>
</section>

<!------------- Services ------------->

<section class=""> 
  <div class="grid grid-cols-2 gap-10 container mx-auto p-6">
    <div class="">
      <p>Elsewhere Brand design</p>
      <h1>A travelling design studio</h1>
      <p>Beautiful design is nice to look at but without the strategic foundation it lacks the longevity of a successful branding. Together we can figure out what sets you apart from the competition and uncover the true potential of your brand.</p>
      <p>Services I offer include:</p>
      <ul>
        <li class="border-b border-black">Design Strategy</li>
        <li class="border-b border-black">Design Strategy</li>
        <li class="border-b border-black">Design Strategy</li>
        <li class="border-b border-black">Design Strategy</li>
        <li class="border-b border-black">Design Strategy</li>
        <a href="#" class="button">My services</a> <a href="#" class="button">Case studies</a>
      </ul>
    </div>
    <div>
      <img src="https://images.unsplash.com/photo-1670510521081-fe2e687c3153?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80"
           class="w-[30vw]">
      <img src="https://images.unsplash.com/photo-1670510521081-fe2e687c3153?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80"
      class="w-[30vw] ml-24">
      
    </div>
  </div>
</section>

<!------------- Image banner ------------->

<section class=""> 
  <div class="{% if page.image-banner.overlay == true %} bg-blend-multiply bg-neutral-400 text-white {% endif %} bg-fixed bg-cover h-[50vh] bg-center flex flex-col justify-center items-center"
  style="background-image: url('{{page.image-banner.bg-image}}')">
    <div class="text-lg pb-6">{{page.image-banner.text}}</div>
    <a href="#" class="button-white">My services</a>
  </div>
</section>