@tailwind base;
@tailwind components;
@tailwind utilities;
 

/* ------------ Typography styles ------------ */

h1, h2, h3  { @apply font-display font-light text-[3.5rem] leading-[4.5rem] tracking-[.02em]; }

p           { @apply leading-8 text-[0.9rem] tracking-[0.03em]; }

nav         { @apply inline-block py-3 px-6 text-xs font-semibold uppercase tracking-[.2em]; }

.subtitle   { @apply text-sm uppercase tracking-[.2em] }

.tinytitle  { @apply text-xs uppercase tracking-[.3em] font-semibold }

li          { @apply border-b border-black text-xs uppercase tracking-[.3em] font-semibold py-2 }

/* ------------ Button styles ------------ */

.button { @apply inline-block py-3 px-6 text-xs font-semibold uppercase tracking-[.2em] rounded-full text-black border-black border hover:bg-sage-500/20 transition; }

.button-white { @apply inline-block py-3 px-6 text-xs font-semibold uppercase tracking-[.2em] rounded-full text-white border-white border hover:bg-white/20 transition; }

/* ------------ Cookie banner ------------ */

#cookie-notice { @apply p-4 hidden text-center text-xs tracking-[.1em] fixed left-0 right-0 bottom-0 w-full bg-sage-900 text-white }

#cookie-notice a { @apply inline-block cursor-pointer ml-2 }

#close-cookie-banner { @apply p-4 cursor-pointer text-sm opacity-50 }

/* ------------ FAQs Accordion ------------ */

.expandable {
  overflow: hidden;
  max-height: 20rem; 
  transition: 1s;
}

.hide-answer { 
  max-height: 0;
  transition: 0.5s;
  margin-bottom: 0rem;
}

.expandButton .symbol::before {
  content: '\002B';
  margin-right: 0.5rem;
}
.expandButton.active .symbol::before {
  content: '\2212';
  margin-right: 0.5rem;
}