<!------------------ This is the blog post preview for index / related posts ------------------>

<div class="py-4 text-center">
  <a href="{{post.url}}"><img class="aspect-[3/4] object-cover mb-5" src="{{post.featured-image}}"></a>
  
  <div class="block">
  {% for item in post.categories %}
    <a href="/archives/{{item}}" class="mx-1 inline-block border-b border-b-orange-400 pb-1 text-xs uppercase tracking-[.3em]">{{item}}</a>
  {% endfor %}
  </div>

  <a href="{{post.url}}" class="inline-block font-display font-light tracking-[.03em] text-4xl featured-text my-8">{{post.title}}</a>
  <!-- <span class="text-sm block py-5">{{post.author}}</span> -->
  <span class="text-xs uppercase tracking-[.3em] block"><strong>{{post.date | date: "%d %b %Y"}}</strong></span>
</div>