<!------------------ This is the blog post preview for index / related posts ------------------>

<a href="{{post.url}}" class="bg-sage-200 hover:bg-sage-300/30 first:border-l border-r text-center pb-28">
  
  <img class="h-[75vh] w-full object-cover mb-16" src="{{post.featured-image}}">

  <span class="block">
    {% for item in post.categories %}
      <div class="mx-1 inline-block border-b pb-1 tinytitle">{{item}}</div>
    {% endfor %}
  </span>

  <h2 class="text-center inline-block font-display font-light tracking-[.03em] text-6xl featured-text my-8">{{post.title}}</h2>
  
  <span class="tinytitle block"><strong>{{post.date | date: "%d %b %Y"}}</strong></span>

</a>