<!------------------ Header ------------------>

<header class="bg-sage-200">
  <div class="flex justify-between min-h-[20vh] px-10 items-center z-10">
    <a href="/index.html"><img class="h-20" src="/assets/logos/atlasofelsewhere_logo.svg"></a>
    <nav class="flex space-x-12 items-center">
      <a href="/services.html" class="hover:border-b pb-2">Services</a>
      <a href="/portfolio.html" class="hover:border-b pb-2">Portfolio</a>
      <a href="/blog.html" class="hover:border-b pb-2">Travel</a>
      <a href="/about.html" class="hover:border-b pb-2">About</a>
      <a href="/contact.html" class="button mb-2">Let's connect</a>
    </nav>
  </div>
</header>