<!------------------ Header ------------------>

<header class="bg-sage-200">
  <div class="flex justify-between min-h-[20vh] px-10 items-center z-10">
    <a href="/index.html"><img class="h-20" src="/assets/images/atlasofelsewhere_logo.svg"></a>
    <nav class="flex space-x-10 items-center">
      <a href="/index.html" class="hover:border-b pb-2">Services</a>
      <a href="/services.html" class="hover:border-b pb-2">Portfolio</a>
      <a href="#" class="hover:border-b pb-2">Journal</a>
      <a href="#" class="hover:border-b pb-2">About</a>
      <a href="#" class="button mb-2">Get in touch</a>
    </nav>
  </div>
</header>