<!------------------------------ Blog content ------------------------------>

<section class="container py-20">
  <div class="text-center">
    <h2 class="text-[5rem] leading-[5.5rem]">{{block.headline-html}}</h2>
    <p class="mx-auto pt-10 pb-16 w-[50vw]">{{block.description-html}}</p>
  </div>

  <div class="flex justify-center">
    <img src="{{block.left-image}}" class="inline-block object-cover h-[40vw] w-[30vw] pr-5">
    <img src="{{block.right-image}}" class="inline-block object-cover h-[40vw] w-[30vw]">
  </div>
</section>

</section>