<!------------------------------ Blog content ------------------------------>

<section class="container py-20">
  <div class="text-center">
    <h2 class="text-[5rem] leading-[5.5rem]">{{block.title}}</h2>
    <p class="mx-auto pt-10 pb-16 w-[50vw]">{{block.description}}</p>
  </div>

  <div class="flex justify-center">
    <img src="{{block.left-image}}" class="inline-block object-cover h-[40vw] w-[30vw] pr-5">
    <img src="{{block.right-image}}" class="inline-block object-cover h-[40vw] w-[30vw]">
  </div>
</section>

<!------------------------------ Grid ------------------------------>

<section class="container">
  <div class="grid grid-cols-5 gap-24">
    <div class="col-span-2">
      
      <!------------------ Where to eat ------------------>
      <h3 class="text-[3rem] pb-5">Where to eat</h3>
      
      {% for item in block.eat %}
      <div class="pb-10">
        <a href="{{item.url}}" class="underline font-medium">{{item.title}}</a>
        <p>{{item.description}}</p>
      </div>
      {% endfor %}

      <hr class="">

      <!------------------ Where to stay ------------------>
      <h3 class="text-[3rem] pb-5 pt-10">Where to stay</h3>
      
      {% for item in block.stay %}
      <div class="pb-10">
        <a href="{{item.url}}" class="underline font-medium">{{item.title}}</a>
        <p>{{item.description}}</p>
      </div>
      {% endfor %}

      <hr>

      <!------------------ Where to see ------------------>
      <h3 class="text-[3rem] pb-5 pt-10">Where to see</h3>

      {% for item in block.see %}
      <div class="pb-10">
        <a href="{{item.url}}" class="underline font-medium">{{item.title}}</a>
        <p>{{item.description}}</p>
      </div>
      {% endfor %}

    </div>

    <!------------------ Gallery ------------------>
    <div class="col-span-3">
      
      <!------------------ 3 images ------------------>

      {% include /blocks/three-images.html %}

      <!------------------ 2 images / small portrait + landscape ------------------>
      {% include /blocks/two-images-small.html %}

      <!------------------ 2 images / portrait ------------------>
      {% include /blocks/two-images-portrait.html %}
      
      <!------------------ 1 image / landscape ------------------>
      {% include /blocks/one-image-landscape.html %}

      <!------------------ 1 image / portrait ------------------>
      {% include /blocks/one-image-portrait.html %}
        
    </div>
  </div>
</section>