<!------------------ Text / Image block ------------------>

<section class="{{block.background-color}} {{block.overlap}} overflow-hidden">
  <div class="grid {{block.grid-size}} {{block.position}} h-full gap-5 md:gap-10 {{block.padding-top}} {{block.padding-bottom}} {{block.width}}">
    
    {% for item in block.columns %}
    
    <!------------------ Text ------------------>
    {% if item._type == 'text' %}

    <div class="h-auto md:p-0 {{item.col-size}}">
      <div>{{item.description-html}}</div>
    </div>

    <!------------------ Image ------------------>
    {% elsif item._type == 'image' %}
    
    <div class="{{item.col-size}}">
      <img src="{{item.image}}" class="h-full w-full object-cover">
    </div>    
    
    {% endif %}
    
    {% endfor %}

  </div>
</section>