<!------------- Full width grid ------------->

<section class="{{block.background-color}} max-w-[100%] overflow-hidden {{block.padding-top}} {{block.padding-bottom}}">

  <div class="flex flex-col md:flex-row md:-ml-60">
    <div class="col-span-1">
      <img src="{{block.first-image}}">
    </div>  
    <div class="col-span-1 md:-mx-20">
      <img src="{{block.second-image}}">
    </div>  
    <div class="col-span-1 md:-mr-60">
      <img src="{{block.third-image}}">
    </div>  
  </div>

</section>