<!------------------------------ Grid ------------------------------>

<section class="container">
  <div class="grid grid-cols-5 gap-24">
    <div class="col-span-2">
      
      <!------------------ Where to eat ------------------>

      <h2 class="pb-5 editable">{{item.headline}}</h2>

      {% for item in block.eat %}

      <div class="pb-10">
        <a href="{{item.url}}" class="underline font-medium">{{item.name}}</a>
        <p>{{item.description}}</p>
      </div>

      {% endfor %}
      
      <hr>
      
      <!------------------ Where to stay ------------------>

      <h2 class="pt-10 pb-5 editable">Headline</h2>

      {% for item in block.stay %}

      <div class="pb-10">
        <a href="{{item.url}}" class="underline font-medium">{{item.name}}</a>
        <p>{{item.description}}</p>
      </div>

      {% endfor %}
      
      <hr>

      <!------------------ What to see ------------------>

      <h2 class="pt-10 pb-5 editable">Headline</h2>

      {% for item in block.see %}

      <div class="pb-10">
        <a href="{{item.url}}" class="underline font-medium">{{item.name}}</a>
        <p>{{item.description}}</p>
      </div>

      {% endfor %}
      
      <hr>

    </div>

    <!------------------ Gallery ------------------>
    <div class="col-span-3">
      
      {% for item in block.columns %}
    
      <!------------------ Text ------------------>
      {% if item._type == 'three-images' %}
  
      {% include blocks/three-images.html %}
  
      <!------------------ Image ------------------>
      {% elsif item._type == 'two-images-small' %}
      
      {% include blocks/two-images-small.html %}
      
      {% endif %}
      
      {% endfor %}
        
    </div>
  </div>