        <!-------- Three images -------->
        <div class="grid grid-cols-12 grid-rows-5 gap-10 pb-10">

          <div class="col-start-1 col-end-8 row-start-1 row-end-3">
            <img src="/assets/images/posts/italy/elsewhere-travel-milan-duomo-1.jpg">
            <p class="pt-2 text-xs">Lorem ipsum dolor sit.</p>
          </div>
          <div class="col-start-8 col-end-13 row-start-2 row-end-5">
            <img src="/assets/images/posts/italy/elsewhere-travel-milan-navigli.jpg">
            <p class="pt-2 text-xs">Lorem ipsum dolor sit.</p>
          </div>
          <div class="col-start-3 col-end-8 row-start-3 row-end-6">
            <img src="/assets/images/posts/italy/elsewhere-travel-milan-navigli.jpg">
            <p class="pt-2 text-xs">Lorem ipsum dolor sit.</p>
          </div>
        
        </div>