---
layout: default

---

<!-------------------------- Intro -------------------------->

<section class="bg-sage-200 max-h-[100vh] -mt-[20vh] bg-cover bg-center z-30 overflow-hidden" style="background-image: url('{{page.bg-image}}');">

  <div class="container grid grid-cols-2 gap-20 pt-40 pb-60">

    <!------------- Left column ------------->
    <div class="col-span-1 mt-20 w-[40vw] h-full">
      <span class="tinytitle">{{page.title}}</span>
      <h1 class="text-[4.5vw] leading-[5vw] mt-5 pb-6">
        {{page.headline}}
      </h1>
      <p class="pb-6">{{page.description-html}}</p>
      <span class="tinytitle">{{page.tagline}}</span>  
    </div>

    <!------------- Right column ------------->
    <div class="col-span-1 mt-20 z-0 relative">
      <img src="{{page.featured-image}}" class="absolute h-full w-full object-cover">
    </div>  
  </div>
</section>


<!------------------ Blocks ------------------>

{% for block in page.page_blocks %}
  {% include /blocks/{{block._id}}.html %}
{% endfor %}

<!------------- Testimonial ------------->

<section class="{{page.bottom-color}} -mt-60">
  <div class="pt-60 pb-10 w-full md:max-w-4xl mx-auto text-center">

    <h4 class="mb-10 border-b pb-2 inline-block">Client Feedback:</h4>
  
    <div class="">
      {% for item in page.testimonials %}
      <div class="">
        <div class="flex flex-row items-center">
          <div class="p-5 md:p-10 text-6xl text-medium-beige opacity-50">“</div>
  
            <div>
              <h2>{{item.name}}</h2>
              <p>{{item.quote}}</p>
            </div>
  
          <div class="p-5 md:p-10  text-6xl text-medium-beige opacity-50">”</div>
        </div>
      </div>
      {% endfor %}
    </div>
  
  </div>   
</section>

<!-------------------------- Arrows -------------------------->

<section class="{{page.bottom-color}} bg-sage-200 py-20">
  <div class="container">
  <div class="flex flex-row">
    <div class="self-start button"><a href="{{page.previous.url}}"></a>Previous</div>
    <hr class="mx-auto w-[80%] mt-5">
    <div class="self-end button"><a href="{{page.next.url}}"></a>Next</div>
  </div>
</div>
</section>

<!-------------------------- Image banner -------------------------->
{% for item in page.image-banner %}
<section> 
  <div class="{% if item.overlay == true %} bg-blend-multiply bg-black/50 text-white {% endif %} bg-fixed bg-cover h-[60vh] bg-center flex flex-col justify-center items-center"
  style="background-image: url('{{item.bg-image}}')">
    <h2 class="text-[5rem] leading-[5.5rem] pb-6 text-center">{{item.text}}</h2>
    <a href="{{item.link-url}}" class="button-white">{{item.link-text}}</a>
  </div>
</section>
{% endfor %}