---
layout: default
heading: Post title
featured-image:
banner-text: 
overlay: true
---

<!------------------------------ Title section ------------------------------>

<section class="bg-sage-200 py-20">
  <div class="container text-center">
    {% for item in page.categories %}
    <a href="/archives/{{item}}" class="mx-1 inline-block border-b border-b-orange-400 pb-1 text-xs uppercase tracking-[.3em]">{{item}}</a>
    {% endfor %}

    <h1 class="text-[5rem] leading-[5.5rem] mt-4">{{page.title}}</h1>
    <span class="text-sm block py-5 italic">by {{page.author}}</span>
    <span class="text-xs uppercase tracking-[.3em] block">{{page.date | date: "%d %b %Y"}}</span>
  </div>
</section>

<!------------------ Image banner ------------------>

<section class="bg-sage-200"> 
  <img src="{{page.featured-image}}" class="container max-h-[50vh] w-full object-cover">
  </div>
</section>

<!------------------------------ Description ------------------------------>

<section class="bg-sage-200 relative pb-20"> 
  <div class="container">
    <p class="w-[35vw] py-20">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut maximus odio. Nunc fringilla nisi ac turpis feugiat vehicula. Morbi tristique ornare leo, ac hendrerit nibh. Maecenas eget enim turpis. In eu aliquet magna. In hac habitasse platea dictumst. Donec hendrerit finibus pellentesque. Curabitur laoreet imperdiet rutrum.
      <br><br>
      Nullam eget magna ut diam posuere euismod sit amet vitae lectus. Sed gravida dolor sed mauris aliquet, eu posuere purus sollicitudin. Aenean ultrices ligula ac tincidunt efficitur. Donec scelerisque auctor interdum. Nunc et urna neque.
    </p>  
  </div>

  <!------------------ Map ------------------>
  <div class="absolute top-20 right-10">
    <img src="/assets/images/italy_map-1.png" class="w-[50vw]">
  </div>

  <!------------------ Images ------------------>
  <div class="container pl-20">
    <img src="/assets/images/bana_hills/elsewhere_blog_bana_hills_1.jpg" class="inline-block object-cover h-[20vw] w-[30vw] pr-5">
    <img src="/assets/images/bana_hills/elsewhere_blog_bana_hills_2.jpg" class="inline-block object-cover h-[20vw] w-[30vw]">
  </div>

</section>

<!------------------------------ Content ------------------------------>

<section class="py-20 container">
  <div class="text-center">
    <h2 class="text-[5rem] leading-[5.5rem]">Day 1-3: Milan</h2>
    <p class="pt-10 pb-16">Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
  </div>

  <div class="flex justify-center">
    <img src="/assets/images/bana_hills/elsewhere_blog_bana_hills_1.jpg" class="inline-block object-cover h-[40vw] w-[30vw] pr-5">
    <img src="/assets/images/bana_hills/elsewhere_blog_bana_hills_2.jpg" class="inline-block object-cover h-[40vw] w-[30vw]">
  </div>
</section>

<!------------------------------ Grid ------------------------------>

<section class="container">
  <div class="grid grid-cols-5 gap-24">
    <div class="col-span-2">
      <h3 class="text-[2rem]">Where to eat</h2>
      <h6>Obicà Mozzarella Bar</h6>
      <p>This pizzeria is located on the 7th Floor of Rinascente Milan in Piazza Duomo and offers a great view of the Duomo. Great place to start of your trip with some delicious mozzarella and Aperol Spritz.</p>
    </div>
    <div class="col-span-3">
      
      <!------------------ 3 images ------------------>
      <div class="grid grid-cols-12 grid-rows-12 gap-10 border pb-16">

        <div class="border col-start-1 col-end-8 row-start-1 row-end-3">
          <img src="/assets/images/bana_hills/elsewhere_blog_bana_hills_2.jpg" 
            class="object-cover h-full w-full">
          <p class="text-xs pt-2">Lorem ipsum dolor sit amet.</p>  
        </div>

        <div class="border col-start-8 col-end-13 row-start-2 row-end-4 h-[40vh]">
          <img src="/assets/images/bana_hills/elsewhere_blog_bana_hills_2.jpg" 
            class="object-cover h-full w-full">
          <p class="text-xs pt-2">Lorem ipsum dolor sit amet.</p>  
        </div>

        <div class="border col-start-3 col-end-8 row-start-3 row-end-5 h-[40vh]">
          <img src="/assets/images/bana_hills/elsewhere_blog_bana_hills_2.jpg" 
            class="object-cover h-full w-full">
          <p class="text-xs pt-2">Lorem ipsum dolor sit amet.</p>  
        </div>

      </div>

      <!------------------ 3 images ------------------>
      <div class="grid grid-cols-12 grid-rows-12 gap-10 border pb-16">

        <div class="border col-start-5 col-end-13 row-start-1 row-end-3">
          <img src="/assets/images/bana_hills/elsewhere_blog_bana_hills_2.jpg" 
            class="object-cover h-full w-full">
          <p class="text-xs pt-2">Lorem ipsum dolor sit amet.</p>  
        </div>        

        <div class="border col-start-1 col-end-5 row-start-2 row-end-7">
          <p class="text-xs pb-2">Lorem ipsum dolor sit amet.</p> 
          <img src="/assets/images/bana_hills/elsewhere_blog_bana_hills_2.jpg" 
            class="object-cover h-full w-full"> 
        </div>

      </div>

      <!------------------ 3 images ------------------>
      <div class="grid grid-cols-12 grid-rows-12 gap-10 border pb-16">

        <div class="border col-start-3 col-end-8 row-start-1 row-end-3 h-[40vh]">
          <img src="/assets/images/bana_hills/elsewhere_blog_bana_hills_2.jpg" 
            class="object-cover h-full w-full">
          <p class="text-xs pt-2">Lorem ipsum dolor sit amet.</p>  
        </div>

        <div class="border col-start-8 col-end-13 row-start-2 row-end-4 h-[40vh]">
          <img src="/assets/images/bana_hills/elsewhere_blog_bana_hills_2.jpg" 
            class="object-cover h-full w-full">
          <p class="text-xs pt-2">Lorem ipsum dolor sit amet.</p>  
        </div>

      </div>
      
        
    </div>
  </div>
</section>

<!------------------ Social sharing ------------------>

{% include social-sharing.html %}

<!------------------ Blocks ------------------>

{% for block in page.page_blocks %}
  {% include /blocks/{{block._id}}.html %}
{% endfor %}

<!------------------ Related posts ------------------>

<section class="border-t border-t-black container mx-auto p-6 text-center mt-10">
	<h4 class="my-10"> You may also enjoy:</h4>
	<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 mb-10">

		{% assign pageCategory = page.categories[0] %}
		{% assign relevant = site.categories[pageCategory] | where_exp:"post","post.url != page.url" %}
  		{% for post in relevant limit:3 %}

        {% include post-preview.html %}
      		
  		{% endfor %}
  		
	</div>

</section>